:root{
    width: 100%;
    height: 100%;
}

body{
    background-color: #DDC9B4;
}
#personImage{
    width: 75%;
}

footer{
    bottom:0;
    width:100%;
    background:#0F1020;
}
footer i{
    color: red;
}